<h1>Mi Perfil</h1>
<!DOCTYPE html>
<html>
<head>
  <!-- Encabezado y estilos -->
</head>
<body>
  <% if flash[:notice] %>
  <div class="form-group col-md-3">
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <!-- Contenido de la página -->
  <form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre Perfil" value="<%=@user.nombre%>" readonly>
    </div>
    <div class="form-group col-md-2">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" placeholder="Apellido Perfil" value="<%=@user.apellido%>" readonly>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="<%=@user.email%>" readonly>
    </div>
    <div class="form-group col-md-2">
      <label for="dni">DNI</label>
      <input type="integer" class="form-control" id="dni" placeholder="Dni Perfil" value="<%=@user.dni%>" readonly>
    </div>
  </div>
  <div class="form-row">
   <div class="form-group col-md-1.5">
  <%=link_to "Modificar Datos", edit_user_path(@user), {class: "btn btn-info"}%>
  </div>
  <div class="form-group">
  <%=link_to "Cambiar Contraseña", edit_password_path , {class: "btn btn-info"}%>
   </div>
   </div>
</form>
</body>
<br>
<br>
<br>
<%= label_tag 'perros_label', 'Perros:', style: 'font-size: 30px;' %>
<div>  
  <%= link_to new_dog_path, { remote: true, class: "btn btn-info" }  do %>
    <span style="font-size: 12px;">✚</span> Agregar Perro
  <% end %>
    <%= link_to "Cargar Vacunas", new_vacuna_path, html_options = {class: "btn btn-info btn-xs", remote: true} %>
    <%= link_to "Cargar Chequeos", new_chequeo_path, html_options = {class: "btn btn-info btn-xs", remote: true} %>
</div>
<br>
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaPerros" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Raza</th>
            <th>Color</th>
            <th>Edad</th>
            <th>Peso(Kg)</th>
        </tr>
        </thead>
        <tbody>
            <% current_user.dog.all.each do |d| %>
            <tr id="perro_<%= d.id %>" >
                <td><%= d.nombre %></td>
                <td><%= d.sexo %></td>
                <td><%= d.raza %></td>
                <td><%= d.color %></td>
                <td><%= d.edad %></td>
                <td><%= d.peso %></td>
                <td>
                  <%= link_to "ver ficha medica", verFichaMedica_dog_path(d), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                  <td> <%=link_to "Modificar Datos", edit_dog_path(d), {class: "btn btn-info"}%></td>
                  <td><%= button_to 'Eliminar', d, method: :delete, class: 'btn btn-danger', onclick: "return confirm('¿Estás seguro de que deseas eliminar este perro?');" %>
                  </td>
                </td>
              </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
</html>