<h1>Modificar chequeo</h1>
<%= form_with(model: chequeo) do |form| %>
  <% if chequeo.errors.any? %>
    <div style="color: red">
     
      <ul>
        <% chequeo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= form.label :dog_id, "Perro" %>
  <%= form.collection_select(:dog_id, current_user.dog.all, :id, :nombre, { prompt: "Selecciona un perro" }, class: "form-control") %>
</div>

<div class="form-group">
  <%= form.label :descripcion %>
  <%= form.text_field :descripcion, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :fecha %>
  <%= form.date_field :fecha, class: "form-control" %>
</div>

<div class="text-center">
  <%= form.submit "Cargar Chequeo", class: "btn btn-primary" %>
</div>
<% end %>